<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConStr" connectionString="SQLServer:server=tjvictor\sqlserver2008;Integrated Security = true;database=TestDB;MultipleActiveResultSets=true;"/>
    <add name="ConStr" connectionString="MySQL:Server=myServerAddress;Database=myDataBase;Uid=myUsername;Pwd=myPassword;"/>
    <add name="ConStr" connectionString="SQLite:Data Source=filename;Version=3;"/>
    <add name="ConStr" connectionString="Access:Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\mydatabase.mdb;User Id=admin;Password=;"/>
    <add name="ConStr" connectionString="Access:Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\mydatabase.accdb;User Id=admin;Password=;"/>
    <add name="ConStr" connectionString="Oracle:Data Source=v11g;User Id=viewertemp;Password=viewertemp;"/>
  </connectionStrings>
</configuration>
